BOT_TOKEN=1234567890:AAG-xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
CHAT_ID=1234567890
REQUEST_EVERY_TRIES=100
SLEEP_TIME=5
CHAT_MESSAGE="💰💰Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut bibendum elit erat, nec finibus justo porta vel. Etiam et nisi molestie, tincidunt tortor sit amet, tincidunt urna. Aliquam faucibus id sem id fringilla. Sed sed dolor elit. Nunc a arcu tristique, suscipit nunc in, venenatis quam. Nam efficitur elit vulputate molestie placerat. ❌❌ Maecenas consectetur sagittis sapien. Nam venenatis scelerisque diam. Suspendisse imperdiet sagittis magna, at ultricies quam. Suspendisse auctor nulla ac lorem dapibus scelerisque. 💰💰"